@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 256, 252, 252;
    --foreground: 13, 14, 15;

    --card: 255, 255, 255;
    --card-foreground: 13, 14, 15;

    --popover: 255, 255, 255;
    --popover-foreground: 13, 14, 15;

    --primary: 151, 71, 255;
    --primary-hover: 172, 108, 255;
    --primary-foreground: 255, 255, 255;
    --primary-light: 219, 183, 244;

    --secondary: 83, 41, 160;
    --secondary-foreground: 29, 30, 32;
    --secondary-light: 185, 175, 204;

    --muted: 246, 246, 249;
    --muted-foreground: 119, 121, 125;

    --accent: 233, 213, 255;
    --accent-light: 243, 232, 255;
    --accent-foreground: 255, 255, 255;

    --failure: 178,34,34;
    --failure-foreground: 13, 14, 15;

    --success: 92, 184, 92;
    --success-foreground: 13, 14, 15;;

    --border: 234, 236, 238;
    --input: 234, 236, 238;
    --ring: 159, 110, 249;

    --radius: 0.8rem;
  }

  .dark {
    --background: 13, 14, 15;
    --foreground: 252, 252, 254;

    --card: 13, 14, 15;
    --card-foreground: 252, 252, 254;

    --popover: 13, 14, 15;
    --popover-foreground: 252, 252, 254;

    --primary: 252, 252, 254;
    --primary-foreground: 29, 30, 32;

    --secondary: 44, 45, 46;
    --secondary-foreground: 252, 252, 254;

    --muted: 44, 45, 46;  
    --muted-foreground: 167, 168, 172;

    --accent: 44, 45, 46;
    --accent-foreground: 252, 252, 254;

    --destructive: 77, 31, 31;
    --destructive-foreground: 252, 252, 254;

    --border: 44, 45, 46;
    --input: 44, 45, 46;
    --ring: 209, 211, 214;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-white text-foreground;
  }
}

@layer components {
  .card {
    @apply h-full w-full rounded-xl border-[1px] border-primary bg-background px-8 py-5;
  }
}


.selection-transparent::selection {
    background: transparent
}