@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 256, 252, 252;
    --foreground: 13, 14, 15;

    --card: 255, 255, 255;
    --card-foreground: 13, 14, 15;

    --popover: 255, 255, 255;
    --popover-foreground: 13, 14, 15;

    /* primary purple */ 
    --primary: 151, 71, 255;
    --primary-hover: 172, 108, 255;
    --primary-foreground: 255, 255, 255;
    --primary-light: 219, 183, 244;

     /* medium purple */
    --secondary: 227, 214, 249;
    --secondary-foreground: 29, 30, 32;
    --secondary-light: 185, 175, 204;

    --muted: 246, 246, 249;
    --muted-foreground: 119, 121, 125;

    /* light gray */
    --accent: 231, 231, 231;
    --accent-light: 243, 232, 255;
    --accent-foreground: 255, 255, 255;

    /* red */
    --failure: 255, 175, 175;
    --failure-light: 241, 212, 210;
    --failure-foreground: 13, 14, 15;

    /* green */
    --success: 200, 240, 202;
    --success-light: 224, 241, 223;
    --success-foreground: 13, 14, 15;

    --border: 234, 236, 238;
    --input: 247, 247, 247;
    --ring: 159, 110, 249;

    --radius: 0.8rem;

    /* figma colours */

    --primary-purple: 151, 71, 255;
    --medium-purple: 227, 214, 249;
    --light-purple: 251, 248, 253;
    --black: 16, 16, 16;
    --dark-gray: 157, 157, 157;
    --green: 200, 240, 202;
    --red: 255, 175, 175;
    --yellow: 255, 241, 170;
    --light-gray: 231, 231, 231;
    --light-gray-2: 229, 229, 229;
    --off-white: 247, 247, 247;
    --white: 255, 255, 255;
  }

  .dark {
    --background: 13, 14, 15;
    --foreground: 252, 252, 254;

    --card: 13, 14, 15;
    --card-foreground: 252, 252, 254;

    --popover: 13, 14, 15;
    --popover-foreground: 252, 252, 254;

    --primary: 252, 252, 254;
    --primary-foreground: 29, 30, 32;

    --secondary: 44, 45, 46;
    --secondary-foreground: 252, 252, 254;

    --muted: 44, 45, 46;
    --muted-foreground: 167, 168, 172;

    --accent: 44, 45, 46;
    --accent-foreground: 252, 252, 254;

    --destructive: 77, 31, 31;
    --destructive-foreground: 252, 252, 254;

    --border: 44, 45, 46;
    --input: 44, 45, 46;
    --ring: 209, 211, 214;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-white text-foreground;
  }
}

@layer components {
  .card {
    @apply h-full w-full rounded-xl border-[1px] border-[#E5E5E5] px-8 py-5 bg-white shadow-[0px_0px_50px_10px_rgba(0,0,0,0.05)];
  }

  .scrollbar-primary {
    @apply scrollbar-thin scrollbar-track-transparent scrollbar-thumb-primary-light;
  }
}

.selection-transparent::selection {
  background: transparent;
}
